.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Xcodeproj
build
Sources

# Temp
StubFrameworks.xcconfig
StubFrameworks.swift